<app-side-menu />
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Create reminder</ion-title>

      <ion-buttons slot="end">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Create reminder</ion-title>

        <ion-buttons slot="end">
          <ion-menu-button size="large" auto-hide="false"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <form [formGroup]="reminderFormGroup" class="register-input-container">
      <ion-item fill="solid">
        <ion-label position="floating">Title</ion-label>
        <ion-input
          type="name"
          formControlName="reminderTitle"
          placeholder="Enter full name"
          [(ngModel)]="title"
        />
      </ion-item>
      <ion-text
        class=""
        color="danger"
        *ngIf="isSubmitted && formControls['reminderTitle'].errors?.['required']"
      >
        Reminder title is required!
      </ion-text>

      <ion-item fill="solid">
        <ion-label position="floating">Date and time</ion-label>
        <ion-input
          type="datetime-local"
          formControlName="reminderDateTime"
          placeholder="Enter email"
          [(ngModel)]="dateTime"
        />
      </ion-item>
      <ion-text
        class=""
        color="danger"
        *ngIf="isSubmitted && formControls['reminderDateTime'].errors?.['required']"
      >
        Reminder date and time is required!
      </ion-text>

      <ion-item fill="solid">
        <ion-select
          placeholder="Select occasion"
          [(ngModel)]="occasion"
          formControlName="reminderOccasion"
        >
          <ion-select-option value="birthday">Birthday</ion-select-option>
          <ion-select-option value="wedding-anniversary"
            >Wedding Anniversary</ion-select-option
          >
          <ion-select-option value="valentines-day"
            >Valentine's Day</ion-select-option
          >
          <ion-select-option value="mothers-day"
            >Mother's Day</ion-select-option
          >
          <ion-select-option value="graduation">Graduation</ion-select-option>
          <ion-select-option value="get-well-soon"
            >Get Well Soon</ion-select-option
          >
          <ion-select-option value="sympathy">Sympathy</ion-select-option>
          <ion-select-option value="just-because"
            >Just Because</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-text
        class=""
        color="danger"
        *ngIf="isSubmitted && formControls['reminderOccasion'].errors?.['required']"
      >
        Reminder occasion is required!
      </ion-text>

      <ion-item fill="solid">
        <ion-select
          placeholder="Select the reminder action"
          [(ngModel)]="action"
          formControlName="reminderAction"
        >
          <ion-select-option value="buy-flowers">Buy Flowers</ion-select-option>
          <ion-select-option value="send-flowers"
            >Send Flowers</ion-select-option
          >
          <ion-select-option value="call">Call</ion-select-option>
          <ion-select-option value="visit">Visit</ion-select-option>
          <ion-select-option value="order-cake">Order Cake</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text
        class="reminder-action-error-text"
        color="danger"
        *ngIf="isSubmitted && formControls['reminderAction'].errors?.['required']"
      >
        Reminder action is required!
      </ion-text>

      <ion-button
        class="register-button"
        fill="solid"
        (click)="scheduleNotification()"
        >Create</ion-button
      >
    </form>
  </ion-content>
</div>
