  <div class="card">
    <div class="card-header">Title</div>
    <div class="card-content">
      <div class="card-item">
        <span class="card-label">Date:</span>
        <span class="card-value">April 5, 2023</span>
      </div>
      <div class="card-item">
        <span class="card-label">Time:</span>
        <span class="card-value">7:00 AM</span>
      </div>
      <div class="card-item">
        <span class="card-label">Occasion:</span>
        <span class="card-value">Morning Routine</span>
      </div>
    </div>
    <div class="card-footer">
      <button class="card-action">Do Something</button>
      <div class="card-icons">
        <ion-icon name="create"></ion-icon>
        <ion-icon name="trash"></ion-icon>
      </div>
    </div>
  </div>
