  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-content">
      <div class="card-item">
        <span class="card-label">Intent:</span>
        <span class="card-value">{{intent}}</span>
      </div><div class="card-item">
        <span class="card-label">Date:</span>
        <span class="card-value">{{date}}</span>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-icons">
        <ion-icon name="trash" (click)="deletePendingNotification()"></ion-icon>
      </div>
    </div>
  </div>
