<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
      <ion-title>Cart (0)</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false">
        <ion-icon class="menu-icon" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
      <ion-title>Cart (0)</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false">
        <ion-icon class="menu-icon" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-header>\
</ion-content>
