<app-side-menu />

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Created reminders</ion-title>

      <ion-buttons slot="end">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Created reminders</ion-title>

        <ion-buttons slot="end">
          <ion-menu-button size="large" auto-hide="false"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="empty-reminders-list" *ngIf="pendingNotifications.length == 0">
      <ion-icon name="alarm-outline"></ion-icon>
      <p class="message">
        No reminders yet? That's okay, you can create some!
      </p>

      <ion-button class="create-reminder-button" [routerLink]="['/reminder-form']">
        Create reminder
      </ion-button>
    </div>

    <div *ngIf="pendingNotifications.length > 0">
      <div class="search-bar-container">
        <ion-searchbar
          class="searchbar"
          animated="true"
          show-clear-button="focus"
          clear-icon="trash-bin"
          placeholder="Search"
        ></ion-searchbar>
      </div>

      <app-reminder-card
        *ngFor="let pendingNotification of pendingNotifications"
        [id]="pendingNotification.id"
        [date]="pendingNotification.schedule?.at | date: 'MMM d, y, h:mm a'"
        [title]="pendingNotification.title"
        [intent]="pendingNotification.body"
      />
    </div>
  </ion-content>
</div>
