ion-toolbar,
ion-radio-group,
ion-list,
ion-radio,
ion-label,
ion-toolbar,
ion-toolbar,
ion-toolbar {
  --background: var(--ion-color-flower-bouquets-purple);
}

.search-bar-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-searchbar.searchbar {
  width: 90vw;
  --border-radius: 10px;
  --background: white;
  --placeholder-color: rgb(115, 108, 108);
  --color: black;
}

.empty-reminders-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.message {
  width: 300px;
  font-size: 20px;
  color: var(--ion-color-flower-bouquets-yellow);
  text-align: center;
}

ion-icon {
  text-align: center;
  font-size: 3em;
}

.create-reminder-button {
  margin-top: 20px;
  width: 180px;
  height: 50px;
  --background: var(--ion-color-flower-bouquets-white);
  --color: var(--ion-color-flower-bouquets-pink);
  --border-radius: 6px;
  --border-color: var(--ion-color-flower-bouquets-pink);
  --border-style: solid;
  --border-width: 1px;
}
