<app-side-menu />
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/home']">
          <ion-icon name="arrow-back" />
        </ion-button>
      </ion-buttons>

      <ion-buttons class="cart-button" slot="end">
        <ion-icon
          class="cart-icon cart-button"
          [routerLink]="['/cart']"
          name="cart"
        ></ion-icon>
        <app-cart-badge />
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-menu-button auto-hide="false">
          <ion-icon class="menu-icon" name="menu"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon
            class="app-icon"
            src="assets/icons/FlowerBouquetsLogo.svg"
          ></ion-icon>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-menu-button
            class="cart-button"
            [routerLink]="['/cart']"
            size="large"
            auto-hide="false"
          >
            <ion-icon class="cart-icon" name="cart"></ion-icon>
            <ion-badge color="danger">0</ion-badge>
          </ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-menu-button auto-hide="false">
            <ion-icon class="menu-icon" name="menu"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="selected-img-container">
      <img class="selected-img" src="{{data.flowersImage}}" alt="" />
      <p class="item-name">{{data.flowersName}} - Medium size</p>
      <p class="item-price">{{data.flowersPrice}}</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <p>Small</p>
          <img class="size-image" src="{{data.flowersImage}}" alt="" />
        </ion-col>
        <ion-col size="auto">
          <p class="selected-flower">Medium</p>
          <img class="size-image" src="{{data.flowersImage}}" alt="" />
        </ion-col>
        <ion-col size="auto">
          <p>Large</p>
          <img class="size-image" src="{{data.flowersImage}}" alt="" />
        </ion-col>

        <ion-col>
          <ion-button class="social-share-button">
            <ion-icon class="share-icon" name="share-social" />
            <p class="share-text">Share</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="stepper-container">
      <ion-button class="decrement-button" (click)="decrement()">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
      <ion-label class="quantity-label">{{quantity}}</ion-label>
      <ion-button class="increment-button" (click)="increment()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>

    <div class="add-to-cart-button-container">
      <ion-button class="add-to-cart-button" (click)="addFlowersToCart()"> Add to cart </ion-button>
    </div>
  </ion-content>
</div>
