ion-toolbar {
  --background: var(--ion-color-flower-bouquets-purple);
}

.app-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.cart-icon {
  width: 35px;
  height: 40px;
}

ion-menu-button {
  font-size: 2em;
  width: 50px;
  height: 50px;
}

.search-bar-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-searchbar.searchbar {
  width: 90vw;
  --border-radius: 10px;
  --background: white;
  --placeholder-color: rgb(115, 108, 108);
  --color: black;
}

ion-menu-button {
  --color: black
}

ion-grid {
  margin-top: 30px;
}

ion-col {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 30px;
  margin-left: 10px;
  color: var(--ion-color-flower-bouquets-green);

}

ion-fab-button {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.aux-fab {
  width: 40px;
  height: 40px;
  margin-top: 20px;
    --background: var(--ion-color-flower-bouquets-green);
}

ion-fab-list{
  margin-left:55px ;
}

ion-icon {
  color: var(--ion-color-flower-bouquets-black);
  width: 40px;
  height: 40px;
}

.scroll-items {
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}
.contai{
  display: flex;
  justify-content: space-between;
}
.avatar{
  margin: 10px;
  margin-right: 30px;
  
}

.pontos{
  margin: 10px;
  margin-right: 50px;
  color: #9BC995;
}
.poin{
  font-size: 20px;
  margin-top: none;
}
.dez{
  font-size: 40px;
}
.nome{
  margin: 10px;
  color: #000000;
}
.email{
  margin: 10px;
}
.cont{
  margin-bottom: 15px;
}
.buton{
  margin-top: 15px;
  
}
ion-icon {
  margin: 10px;
  
}
ion-button{
  color: #000000;
}
