<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        class="app-icon"
        src="assets/icons/FlowerBouquetsLogo.svg"
      ></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon class="cart-icon" slot="start" name="cart" ion-ripple-effect>
      </ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button size="large" auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-header>

  <div class="search-bar-container">
    <ion-searchbar
      class="searchbar"
      animated="true"
      show-clear-button="focus"
      clear-icon="trash-bin"
      placeholder="Search"
    ></ion-searchbar>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>Category</ion-col>
      <ion-col>Ocassions</ion-col>
    </ion-row>
  </ion-grid>

  <h1>Trending🔥</h1>

  <ion-row scrollX="true" class="scroll-items">
    <ion-col *ngFor="let item of items">
      <app-flowers-card
        [flowersImage]="item.image"
        [flowersName]="item.name"
        [flowersPrice]="item.price"
      ></app-flowers-card>
    </ion-col>
  </ion-row>

  <h1>Flowers for you 🌸</h1>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col
        *ngFor="let item of items.reverse()"
        size="6"
        size-md="4"
        size-lg="2"
      >
        <app-flowers-card
          class="app-flowers-card"
          [flowersImage]="item.image"
          [flowersName]="item.name"
          [flowersPrice]="item.price"
        ></app-flowers-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="flower-bouquets-yellow">
      <ion-icon name="alarm-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
