ion-toolbar {
  --background: var(--ion-color-flower-bouquets-purple);
}

.app-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.cart-button {
  width: 70px;
}

.cart-icon, ion-icon{
  font-size: 1.5em;
  color: var(--ion-color-flower-bouquets-black);
}

.menu-icon {
  font-size: 3em;
  color: var(--ion-color-flower-bouquets-black);
}

ion-badge {
  font-size: 15px;
}

.search-bar-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-searchbar.searchbar {
  width: 90vw;
  --border-radius: 10px;
  --background: white;
  --placeholder-color: rgb(115, 108, 108);
  --color: black;
}

.aux-fab {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  --background: var(--ion-color-flower-bouquets-green);
}

ion-grid {
  margin-top: 30px;
}

ion-col {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 30px;
  margin-left: 10px;
  color: var(--ion-color-flower-bouquets-green);
}

.scroll-items {
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}

ion-fab-button {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

ion-fab-list {
  margin-left: 55px;
}

.alarm-icon{
  font-size: 2em;
}
