<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        class="app-icon"
        src="assets/icons/FlowerBouquetsLogo.svg"
      ></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon class="cart-icon" slot="start" name="cart" ion-ripple-effect>
      </ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button size="large" auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-header>

  <div class="search-bar-container">
    <ion-searchbar
      animated="true"
      show-clear-button="focus"
      clear-icon="trash-bin"
      placeholder="Search"
    ></ion-searchbar>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>Category</ion-col>
      <ion-col>Ocassions</ion-col>
    </ion-row>
  </ion-grid>

  <h1>Trendings🔥</h1>

  <!-- <ion-content scroll-y="true">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of items">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{item.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content> {{item.description}} </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content> -->

  <!-- <ion-card *ngFor="let item of items">
        <ion-card-header>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.description}}
        </ion-card-content>
      </ion-card> -->

  <swiper-container>
    <swiper-slide *ngFor="let item of items">
        <ion-card >
        <ion-card-header>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.description}}
        </ion-card-content>
      </ion-card>
      
    </swiper-slide>

  </swiper-container>

  <h1>Flowers for you 🌸</h1>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="flower-bouquets-yellow">
      <ion-icon name="alarm-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
